{form form}
    <div class="row mb-3">
        <div class="col-12 col-md-3">
            {label name, "class" => "form-label" /}
        </div>
        <div class="col-12 col-md-9">
            {input name, "class" => "form-control"}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-md-3">
            {label email, "class" => "form-label" /}
        </div>
        <div class="col-12 col-md-9">
            {input email, "class" => "form-control"}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-md-3">
            {label message, "class" => "form-label" /}
        </div>
        <div class="col-12 col-md-9">
            {input message, "class" => "form-control"}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 offset-md-3 col-md-9">
            {input submit, "class" => "btn btn-primary"}
        </div>
    </div>
{/form}